.bloque {
display:table;
text-align:center;
  width: 100%;
  //height: 100%;
height: 100px;
  border-radius: 15px;
  background-color: #cecece;
  box-shadow: 3px 3px 2px #000000;
}

.bloque span{
  display: table-cell;
  vertical-align: middle;
  font-size: 17px;
  font-weight: 700;
}

.flecha {
  width: 100%;
  //height: 100%;
height:100px;
}

.flecha-bottom {
  border-bottom: 1px solid #000000;
}

.bloque-cuarto {
  width: 100%;
  height: 50%;
  background: transparent;
  //border: 2px solid #000000;
}

.corner-top-left {
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
}

.corner-bottom-left {
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
}

.container-tabla {
  width: 1000px;
  //height: 300px;
  margin: 0 auto;
}

.container-tabla table {
  width: 100%;
  //height: 100%;
}

.bloque-aprobado {
  background-color: #2ecc71;
}

.bloque-pendiente {
  background-color: #f1c40f;
}
