.titulo-seccion {
    margin-top: 50px;
    font-weight: bold;
    font-size: 18px;
}

.titulo-formulario {
    text-align: center;
}

/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.btn-enviar {
  margin: 35px 0px;
}

.formulario {
  width:75%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 50px;
}

.columna-small {
  width: 50px;
}

.columna-w20p {
  width: 15%;
}

.table-no-padding {
  padding: 0;
}

.header-height-60 {
  height: 60px;
}

.header-height-60 th {
  vertical-align: middle !important;
}

.plus-button {
  margin-top: 5px;
  margin-bottom: 15px;
}

.table-w60pe {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.btn-help{
  margin-left: 10px;
  position:inherit;
}

.btn-help:hover{
  cursor: pointer;
}

.help{
  border: 1px solid #ccc;
  display: none;
  width: 50%;
  font-size: 10px;
  position: absolute;
  text-align: justify;
  padding: 15px;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  left: 25%;
}

#btnHelpCarreras:hover #helpCarreras, #btnHelpAreaConocimiento:hover #helpAreaConocimiento, #btnHelpPlanNacional:hover #helpPlanNacional, #btnHelpRazonSocialOrganizacion:hover #helpRazonSocialOrganizacion, #btnHelpRepresentanteLegalOrganizacion:hover #helpRepresentanteLegalOrganizacion, #btnHelpAntecedentes:hover #helpAntecedentes, #btnHelpContexto:hover #helpContexto, #btnHelpDefinicionProblema:hover #helpDefinicionProblema, #btnHelpJustificacion:hover #helpJustificacion, #btnHelpPertinencia:hover #helpPertinencia, #btnHelpObjetivos:hover #helpObjetivos, #btnHelpMatrizMarcoLogico:hover #helpMatrizMarcoLogico, #btnHelpMetodologiaTrabajo:hover #helpMetodologiaTrabajo, #btnHelpCronograma:hover #helpCronograma, #btnHelpProductosEsperados:hover #helpProductosEsperados, #btnHelpCompromisosOrganizacion:hover #helpCompromisosOrganizacion, #btnHelpPresupuesto:hover #helpPresupuesto, #btnHelpEvaluacion:hover #helpEvaluacion, #btnHelpBibliografia:hover #helpBibliografia, #btnCronogramaEstudiante:hover #helpCronogramaEstudiante
{
  background-color: #e3e3e3;
  border: 1px solid #ae9e7d;
  display: block;
}

.item-no-bullet {
  list-style-type: none;
}

p {
  text-align: justify;
}

footer p {
  text-align: center !important;
}

.form-group {
    margin-bottom: 20px;
}

.div-sublabels{
  margin-top: 0.5em;
  margin-left:3.5em;
}

.sub-label{
  float:left;
  margin-right: 1em;
}

.small-button{
  padding: 6px 6px;
  font-size: 8px;
}
