html {
    position: relative;
    min-height: 100%;
}

#masterTitle{
  color: #ffffff;
  height:100px;
  background:  url(../images/logo_banner.png);
  background-repeat: no-repeat;
  background-position: 35px center;
  text-shadow: 1px 1px 0 rgb(140, 139, 139);
  margin: 0px;
  background-color: #03346b;
  padding: 35px 10px 35px 130px;
}

.container{
  width:100%;
}

.logoutBtn:hover{
  cursor:pointer;
}
/*
.footer{
  background-color: #333;
  width: 100%;
  bottom: 0;
  position: absolute;
  height:50px;
  color: #bce1e1;
  vertical-align: middle;
  text-align:center;
}*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #bce1e1;
    background-color: #333;
    vertical-align: middle;
    text-align:center;
    margin-top: 70px;
}

.footer p {
  margin-top: 15px;
}

#notification-btn:hover{
  color:#FFAA00;
  cursor:pointer;
}

.table {
  margin-bottom: 0;
}

body {
  margin-bottom: 70px;
}



/* Titulos de las tablas */
.table > thead > tr > th{
  text-align: center;
  vertical-align: middle;
}

/* Cuerpo de las tablas */
.table > tbody > tr > td, .table > tbody > tr > th{
  vertical-align: middle;
  /*text-align: center;*/
}

 /* Primer td de las tablas */
.first-td-table{
 text-align: justify !important;
 vertical-align: 0px !important;
}



.dropdown {
  display:inline-block;
  margin-left:20px;
  padding:10px;
 }

.notifications {
  min-width:420px;
}

.menu-title {
  color:#ff7788;
  font-size:1.5rem;
  display:inline-block;
}

.item-title {
  font-size:1.3rem;
  color:#03346b;
}

.notification-item.notificacion-vista .item-title {
  color: #03346b;
}

.notification-item.notificacion-vista .item-time {
  color: #999999 !important;
}

.item-time {
  width: 20%;
  margin-right: 10px;
  margin-left: auto;
  color:#999999;
  text-align: right;
}

.notifications a.content {
  text-decoration:none;
  background:#ccc;

}

.notification-item {
  padding:10px;
  margin:5px;
  background: #eaefff;
  border-radius:4px;
}

.notificacion-vista {
  background: #f8f8f8;
}

.field-as-label {
  background: transparent !important;
  cursor: default !important;
  border: 0 !important;
  box-shadow: none !important;
}

.sv-icon-button {
  background: transparent;
  /*width: 30px;
  height: 30px;*/
  border: 0;
  box-shadow: none;
}

.sv-cell-contain-width {
  width:1%;
  white-space:nowrap;
}

.sv-tag-style {
  background-color: rgb(207, 235, 248);
  display: inline-block;
  padding: 2px 0px 2px 5px;
  /*border: 1px solid rgb(168, 195, 251);*/
  color: rgb(84, 131, 228);
  border-radius: 4px;
  box-shadow: 1px 1px 1px;
  margin-bottom: 5px;
}

/*.sv-nav-bar {
  background-color: #03346b;
  border: 0;
  border-radius: 0;
}*/

.sv-nav-bar li a:hover {
  color: #03346b !important;
}

.sv-nav-bar .navbar-nav li.active > a {
  background: transparent;
  color: #03346b !important;
  border-bottom: 3px solid #03346b
}

.btn-primary {
  background-color: #03346b;
}

.sv-list-table tr{
  border-bottom: 1px solid rgb(206, 206, 206);
  border-top: 1px solid rgb(206, 206, 206);
}

.btn_remove, .btn_remove_estudiante{
  color: red;
  background: transparent none repeat scroll 0% 0%;
  border: 0px none;
}

.top-space {
  margin-top: 20px;
}

.sv-navbar-vertical {
  border: 0;
}

.sv-navbar-vertical .sidebar-navbar-collapse {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(230, 230, 230, 1), rgba(255, 255, 255, 1));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(230, 230, 230, 1), rgba(255, 255, 255, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(230, 230, 230, 1), rgba(255, 255, 255, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255, 255, 255, 1), rgba(230, 230, 230, 1), rgba(255, 255, 255, 1)); /* For Firefox 3.6 to 15 */
}

.sv-navbar-vertical .sidebar-navbar-collapse .navbar-nav li {
  width: 100%;
}

.sv-navbar-vertical .sidebar-navbar-collapse .navbar-nav li.active > a {
  background: transparent;
  color: #03346b !important;
  border-left: 3px solid #03346b
}

.sv-titulo-proyecto {
  margin: 0px auto 15px auto;
  /*background-color: rgb(245, 245, 245);*/
  background: linear-gradient(left, rgba(255, 255, 255, 1), rgba(230, 230, 230, 1), rgba(255, 255, 255, 1));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(230, 230, 230, 1), rgba(255, 255, 255, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 1), rgba(230, 230, 230, 1), rgba(255, 255, 255, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1), rgba(230, 230, 230, 1), rgba(255, 255, 255, 1)); /* For Firefox 3.6 to 15 */
  /*border-radius: 15px;*/
  padding-bottom:19px;
  padding-top: 1px;
  width: 80%;
  color: rgb(78, 78, 78);
}

.sv-gray-button {
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid rgb(198, 198, 198);
  padding: 5px 15px;
}

.modo-ver-tabla table {
  width: 85% !important;
  margin: 0px auto !important;
  border: 1px solid !important;
}

.modo-ver-tabla th {
  text-align: center !important;
  border: 1px solid !important;
  padding: 10px !important;
}

.modo-ver-tabla td {
  border: 1px solid !important;
  padding: 10px !important;
}

.modo-ver-tabla td li {
  border: 0 !important;
}

.linea {
  border-top: 4px solid #000 !important;
}
